<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio.subtitle %>
</p>

<p>
  <strong>Imagepreview:</strong>
  <%= @portfolio.imagepreview %>
</p>

<p>
  <strong>Imagemainone:</strong>
  <%= @portfolio.imagemainone %>
</p>

<p>
  <strong>Imagemaintwo:</strong>
  <%= @portfolio.imagemaintwo %>
</p>

<p>
  <strong>Imagemainthree:</strong>
  <%= @portfolio.imagemainthree %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user_id %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
